@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.6rem;

    --tw-white: theme('colors.white');
    --tw-neutral-0: theme('colors.neutral-0');
    --tw-neutral-100: theme('colors.neutral-100');
    --tw-neutral-200: theme('colors.neutral-200');
    --tw-neutral-300: theme('colors.neutral-300');
    --tw-neutral-400: theme('colors.neutral-400');
    --tw-neutral-500: theme('colors.neutral-500');
    --tw-neutral-600: theme('colors.neutral-600');
    --tw-neutral-700: theme('colors.neutral-700');
    --tw-neutral-800: theme('colors.neutral-800');
    --tw-neutral-900: theme('colors.neutral-900');

    --tw-gray-50: theme('colors.gray-50');

    --tw-blue-base: theme('colors.blue-base');
    --tw-blue-dark: theme('colors.blue-dark');
    --tw-blue-darker: theme('colors.blue-darker');
    --tw-blue-light: theme('colors.blue-light');
    --tw-blue-lighter: theme('colors.blue-lighter');

    --tw-green-base: theme('colors.green-base');
    --tw-green-dark: theme('colors.green-dark');
    --tw-green-darker: theme('colors.green-darker');
    --tw-green-light: theme('colors.green-light');
    --tw-green-lighter: theme('colors.green-lighter');

    --tw-orange-base: theme('colors.orange-base');
    --tw-orange-dark: theme('colors.orange-dark');
    --tw-orange-darker: theme('colors.orange-darker');
    --tw-orange-light: theme('colors.orange-light');
    --tw-orange-lighter: theme('colors.orange-lighter');

    --tw-pink-base: theme('colors.pink-base');
    --tw-pink-dark: theme('colors.pink-dark');
    --tw-pink-darker: theme('colors.pink-darker');
    --tw-pink-light: theme('colors.pink-light');
    --tw-pink-lighter: theme('colors.pink-lighter');

    --tw-purple-base: theme('colors.purple-base');
    --tw-purple-dark: theme('colors.purple-dark');
    --tw-purple-darker: theme('colors.purple-darker');
    --tw-purple-light: theme('colors.purple-light');
    --tw-purple-lighter: theme('colors.purple-lighter');

    --tw-red-base: theme('colors.red-base');
    --tw-red-dark: theme('colors.red-dark');
    --tw-red-darker: theme('colors.red-darker');
    --tw-red-light: theme('colors.red-light');
    --tw-red-lighter: theme('colors.red-lighter');

    --tw-teal-base: theme('colors.teal-base');
    --tw-teal-dark: theme('colors.teal-dark');
    --tw-teal-darker: theme('colors.teal-darker');
    --tw-teal-light: theme('colors.teal-light');
    --tw-teal-lighter: theme('colors.teal-lighter');

    --tw-yellow-base: theme('colors.yellow-base');
    --tw-yellow-dark: theme('colors.yellow-dark');
    --tw-yellow-darker: theme('colors.yellow-darker');
    --tw-yellow-light: theme('colors.yellow-light');
    --tw-yellow-lighter: theme('colors.yellow-lighter');

    --tw-state-away: var(--tw-yellow-base);
    --tw-state-error: var(--tw-red-base);
    --tw-state-feature: var(--tw-purple-base);
    --tw-state-information: var(--tw-blue-base);
    --tw-state-neutral: var(--tw-neutral-400);
    --tw-state-success: var(--tw-green-base);
    --tw-state-verified: var(--tw-teal-base);
    --tw-state-warning: var(--tw-orange-base);

    --tw-stroke-disabled: var(--tw-neutral-100);
    --tw-stroke-soft: var(--tw-neutral-200);
    --tw-stroke-strong: var(--tw-neutral-900);
    --tw-stroke-sub: var(--tw-neutral-300);
    --tw-stroke-white: var(--tw-neutral-0);

    --tw-primary-base: theme('colors.primary-base');
    --tw-primary-dark: theme('colors.primary-dark');
    --tw-primary-darker: theme('colors.primary-darker');
    --tw-primary-light: theme('colors.primary-light');
    --tw-primary-lighter: theme('colors.primary-lighter');

    --tw-shadow-stroke-important: theme('colors.shadow-stroke-important');
    --tw-shadow-stroke-primary: theme('colors.shadow-stroke-primary');
    --tw-shadow-stroke-error: theme('colors.shadow-stroke-error');

    --tw-shadow-focus-important: theme('colors.shadow-focus-important');
    --tw-shadow-focus-primary: theme('colors.shadow-focus-primary');
    --tw-shadow-focus-error: theme('colors.shadow-focus-error');
  }

  * {
    @apply border-border outline-primary-base;
  }

  .focus-ring {
    @apply focus-visible:ring-primary-light focus:ring-primary-light ring-offset-white focus:ring-2 focus:ring-offset-2 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }

  a {
    width: fit-content;
    display: inline-block;
  }

  html {
    scroll-behavior: smooth;
    @apply min-h-full;
  }

  body {
    @apply text-main flex min-h-full flex-col bg-white antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'cv11', 'salt', 'ss01', 'ss03', 'cv01', 'cv02', 'cv03', 'cv04', 'cv05',
      'cv06', 'cv07', 'cv08', 'cv09', 'cv10';
  }

  html,
  body,
  div#__next {
    @apply h-full;
  }

  .z-1 {
    z-index: 1;
  }
}

body.lock-scroll {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 15px !important;
}
