@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255; /* #FFFFFF */

    --gray-50: 249 249 249; /* #F9F9F9 */
    --gray-100: 244 245 248; /* #F4F5F8 */
    --gray-850: 26 26 26; /* #1a1a1a */
    --gray-900: 25 22 21; /* #191615 */

    --radius: 0.6rem;

    --background-primary: var(--white);
    --background-secondary: var(--gray-50);
    --background-tertiary: var(--gray-100);

    --text-primary: var(--gray12);
    --text-secondary: var(--gray10);
    --text-muted: var(--gray9);

    --border: var(--gray6);
  }

  .dark {
    --background-primary: var(--gray-900);
    --background-secondary: var(--gray-850);
    color: var(--gray12);
  }

  * {
    border-color: var(--border);
  }

  .focus-orange-ring {
    @apply ring-offset-bg-primary focus-visible:ring-orange-8 focus:ring-orange-8 focus:ring-2 focus:ring-offset-2 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }

  a {
    width: fit-content;
    display: inline-block;
  }

  html {
    scroll-behavior: smooth;
    @apply min-h-full;
  }

  body {
    @apply bg-primary flex min-h-full flex-col antialiased;
    color: var(--gray12);
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'cv11', 'salt', 'ss01', 'ss03', 'cv01', 'cv02', 'cv03', 'cv04', 'cv05',
      'cv06', 'cv07', 'cv08', 'cv09', 'cv10';
  }

  html,
  body,
  div#__next {
    @apply h-full;
  }

  .z-1 {
    z-index: 1;
  }
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

body.lock-scroll {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 15px !important;
}
